/* Add this to your CSS */
.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff; /* Replace with your desired background color */
}

.bg-custom-gradient {
  background: linear-gradient(
    90deg,
    rgba(2, 27, 118, 1),
    rgba(37, 107, 219, 1)
  );
}
.bg-custom-button {
  background: linear-gradient(90deg, rgba(246, 133, 0, 1), rgba(210, 76, 0, 1));
}

.custom-level {
  background: linear-gradient(90deg, rgba(37, 107, 219, 0.5));
}

.custom-blue {
  background-color: rgba(124, 248, 254, 1);
}
